In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
import scipy.stats as scipy_stats
import numpy as np

In [2]:
census_df = pd.read_csv('census_05.csv')

In [14]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   House Number                   10479 non-null  object
 1   Street                         10480 non-null  object
 2   First Name                     10480 non-null  object
 3   Surname                        10480 non-null  object
 4   Age                            10480 non-null  float64
 5   Relationship to Head of House  10480 non-null  object
 6   Marital Status                 8054 non-null   object
 7   Gender                         10480 non-null  object
 8   Occupation                     10480 non-null  object
 9   Infirmity                      10480 non-null  object
 10  Religion                       7986 non-null   object
dtypes: float64(1), object(10)
memory usage: 900.8+ KB

### Data Cleaning

#### Clean House Number by using forward fill to insert value for the missing value

In [31]:
census_df['House Number'].fillna(method='ffill', inplace=True)

#### Marital Status cleaning

In [35]:
census_df['Marital Status'].unique()

array(['Single', nan, 'Married', 'Divorced', 'Widowed'], dtype=object)

In [40]:
census_df['Marital Status'].value_counts()

Single      3705
Married     2964
Divorced     964
Widowed      421
Name: Marital Status, dtype: int64

In [49]:
census_df[census_df['Marital Status'].isna()]

,House Number,Street,First Name,Surname,Age,Relationship to Head of House,Marital Status,Gender,Occupation,Infirmity,Religion
2,2,Orry Row,Harry,O'Connor,7.0,Son,NaN,Male,Student,None,NaN
3,2,Orry Row,Pamela,O'Connor,4.0,Daughter,NaN,Female,Child,None,NaN
6,3,Orry Row,Gregory,Walker,5.0,Step-Son,NaN,Male,Student,None,NaN
9,4,Orry Row,Clare,Brady,5.0,Granddaughter,NaN,Female,Student,None,NaN
14,7,Orry Row,Charlotte,Turnbull,9.0,Granddaughter,NaN,Female,Student,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10474,1,Evans Villa,Philip,Davies,2.0,Son,NaN,Male,Child,None,NaN
10476,1,Lewis Abbey,Joshua,Kemp,9.0,Son,NaN,Male,Student,None,NaN
10477,1,Lewis Abbey,Graeme,Kemp,8.0,Son,NaN,Male,Student,None,NaN
10478,1,Lewis Abbey,Donald,Kemp,4.0,Son,NaN,Male,Child,None,NaN
10479,1,Lewis Abbey,Dylan,Kemp,3.0,Son,NaN,Male,Child,None,NaN

In [50]:
scipy_stats.normaltest(census_df['Age'])

NormaltestResult(statistic=520.7891003182949, pvalue=8.167398541337057e-114)

In [52]:
census_df['Relationship to Head of House'].unique()

array(['Head', 'Son', 'Daughter', 'Wife', 'Step-Son', 'Husband',
       'Granddaughter', 'Step-Daughter', 'Grandson', 'Lodger', 'Partner',
       'None', 'Adopted Son', 'Sibling', ' ', 'Cousin',
       'Adopted Daughter', 'Visitor', 'Neice', 'Nephew',
       'Daughter-in-law', 'Son-in-law', 'Adopted Granddaughter'],
      dtype=object)

In [58]:
census_df['Religion'].value_counts()

None          3526
Christian     2355
Catholic      1172
Methodist      678
Muslim         129
Jewish          54
Sikh            52
                 6
Pagan            3
Quaker           2
Buddist          2
Agnostic         1
Sith             1
Meth-odist       1
Hindu            1
Cath0lic         1
Nope             1
Baptist          1
Name: Religion, dtype: int64

In [59]:
census_df['Marital Status'].value_counts()

Single      3705
Married     2964
Divorced     964
Widowed      421
Name: Marital Status, dtype: int64

In [61]:
census_df['Infirmity'].unique()

array(['None', 'Unknown Infection', 'Blind', 'Physical Disability',
       'Mental Disability', 'Disabled', ' ', 'Deaf'], dtype=object)

In [63]:
census_df['Age'].describe()

count    10480.000000
mean        36.139563
std         21.573443
min          0.000000
25%         19.000000
50%         35.000000
75%         51.000000
max        106.000000
Name: Age, dtype: float64

In [64]:
a = [3, 2]
print(a[-1])

2