In [1]:
import pandas as pd

In [4]:
tValue = pd.DataFrame({
    "FirstName" :['Olamide', 'Olakunle', 'Bimbo', "Shola"],
    "Age" : [2, 3, 4, 10],
    "School" : ["Uni of Hull", "Uni of Birmingham", "Oxford University", "University of Ibadan"],
    "Grade" : ["A", "D", "D", "E"]
})

In [6]:
tValue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FirstName  4 non-null      object
 1   Age        4 non-null      int64
 2   School     4 non-null      object
 3   Grade      4 non-null      object
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes

In [8]:
tValue.replace(["D", "A"], ["B", "B"])

  FirstName  Age                School Grade
0   Olamide    2           Uni of Hull     B
1  Olakunle    3     Uni of Birmingham     B
2     Bimbo    4     Oxford University     B
3     Shola   10  University of Ibadan     E